html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.bg_image {
  background-image: url('/images/car.png');
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
}

.banner1 {
  background-image: url('https://stimg.cardekho.com/images/uploadimages/1675690534654/Home-Page-Banner-2.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.banner2 {
  background-image: url('/images/banner.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.banner3 {
  background-image: url('https://stimg.cardekho.com/images/uploadimages/1677157152732/New-Verna_CD-MasterHead-Desktop_1628x548px.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.banner4 {
  background-image: url('https://stimg.cardekho.com/images/uploadimages/1673507034864/CarDekho-Connected-Desktop-Banner-2.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.bottom_ul {
  display: flex;
}
.bottom_ul li {
  list-style-type: none;
  margin-top: -20px;
  margin-right: 10px;
  box-shadow: 0 4px rgba(97, 95, 95, 0.5);
}
.color {
  color: black !important;
}

gsc-ta-active {
  background: #24272c;
  color: #fff;
}
